h1{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: white;
	text-shadow: 2px -3px black;
	letter-spacing: 3px;
	font-size: 2.6vw;
	padding-top: 30px;
}
body{
	margin: 0;
	background-image: linear-gradient(to bottom, #0066ff, #3759fc, #5348f8, #6a32f1, #7f00e8);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;

}
img{
	height: 60vh;
	width: 17vw;
	position: absolute;
	border-radius: 10px;
}
img:nth-of-type(1){
	top: 20%;
	left: 20%;
	z-index: 1;
	animation-name: Card_one;
	animation-duration: 7s;
	animation-delay: 3s;
}
img:nth-of-type(2){
	top: 25%;
	left: 28%;
	z-index: 2;
	animation-name: Card_two;
	animation-duration: 7s;
	animation-delay: 3s;
}
img:nth-of-type(3){
	top: 30%;
	left: 42%;
	z-index: 3;
	animation-name: Card_three;
	animation-duration: 7s;
	animation-delay: 3s;
}
img:nth-of-type(4){
	top: 25%;
	right: 28%;
	z-index: 2;
	animation-name: Card_four;
	animation-duration: 7s;
	animation-delay: 3s;
}
img:nth-of-type(5){
	top: 20%;
	right: 20%;
	z-index: 1;
	animation-name: Card_five;
	animation-duration: 7s;
	animation-delay: 3s;
}
span{
	color: black;
	text-shadow: 2px -2px white;
}
img:nth-of-type(6){
	width: 3.3vw;
	height: 3.3vw;
	top: 3%;
	left: 63%;
	transform: rotate(40deg);
}
img:nth-of-type(7){
	width: 10.4vw;
	height: 10.4vw;
	left: 5%;
	top: 25%;

}
img:nth-of-type(8){
	width: 13vw;
	height: 13vw;
	right: 4%;
	bottom: 7%;
	transform: rotate(220deg);
	animation: rocket 4s ease-in-out 12s;
}





@keyframes Card_one{
	0%{
		z-index: 2;

	}
	10%{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 2;
	}
	20%{
		transform: scale(0.8,1.2) translate(-60%, -40%);
		z-index: 2;
		top: 50%;
		left: 50%;
	}

	40%{
		transform:scale(1) translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}
	50%{
		transform: translate(-50%,-50%);
		z-index: 2;
		top: 50%;
		left: 50%;
	}
}

@keyframes Card_two{
	0%{
		z-index: 3;

	}
	10%{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 3;
	}
	20%{
		transform: scale(0.8,1.2) translate(-60%, -40%);
		z-index: 3;
		top: 50%;
		left: 50%;
	}

	40%{
		transform:scale(1) translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}

	60%{
		transform: translate(-50%,-50%);
		z-index: 3;
		top: 50%;
		left: 50%;
	}
}
@keyframes Card_three{
	0%{
		z-index: 5;

	}
	10%{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 5;
	}
	20%{
		transform: scale(0.8,1.2) translate(-60%, -40%);
		z-index: 5;
		top: 50%;
		left: 50%;
	}

	40%{
		transform:scale(1) translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}
	90%{
		transform: translate(-50%,-50%);
		z-index: 5;
		top: 50%;
		left: 50%;
	}
}
@keyframes Card_four{
	0%{
		z-index: 4;

	}
	10%{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 4;
	}
	20%{
		transform: scale(0.8,1.2) translate(-60%, -40%);
		z-index: 4;
		top: 50%;
		left: 50%;
	}

	40%{
		transform:scale(1) translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}
	80%{
		transform: translate(-50%,-50%);
		z-index: 4;
		top: 50%;
		left: 50%;
	}
}
@keyframes Card_five{
	0%{
		z-index: 1;

	}
	10%{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
	}
	20%{
		transform: scale(0.8,1.2) translate(-60%, -40%);
		z-index: 1;
		top: 50%;
		left: 50%;
	}

	40%{
		transform:scale(1) translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}
	70%{
		transform: translate(-50%,-50%);
		z-index: 1;
		top: 50%;
		left: 50%;
	}
}
@keyframes rocket {
	30%{
		right: 60%;
		bottom: 120%;
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
	60%{
		opacity: 0;
		right: 1%;
		bottom: 2%;

	}
	70%{
		right: 3%;
		bottom: 6%;
	}
}